@media (max-width: 1024px) {
  .media-padding {
    margin: 0px 48px;
  }
}

@media (max-width: 768px) {
  .media-padding {
    margin: 0px 24px;
  }
}

@media (max-width: 768px) {
  .media-padding {
    margin: 0px 16px;
  }
}
