.cover__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  background: rgba(42, 44, 47, .3);
  transition: 1s ease;
}

.cover__link:hover  {
  transition: 1s ease;
  background: rgba(42, 44, 47, .84);
}

@media(max-width:1024px){
  .cover__link {
margin-left: 0;
margin-right: 0;
max-width: 1024px;
min-height: 640px;
}
}

@media (max-width:768px){
  .cover__link {
    max-width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
    min-height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));
  }
}
