.travel__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  padding: 56px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .travel__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    padding: 48px 0px 0px 0px;
  }
}
