.card-body__link {
  /* text-decoration: underline; */
  letter-spacing: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.card-body__link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
