.travel__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.12;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0px 0px 0px;
}

@media (max-width: 768px) {
  .travel__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    padding: 16px 0px 0px 0px;
    max-width: 288px;
  }
}
