.travel__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}

@media (max-width: 768px) {
  .travel__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    padding-top: calc(19px + (32 - 19) * ((100vw - 320px) / (768 - 320)));
  }
}
