.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  align-self: center;
  max-width: 360px;
  padding: 25px 0 0 0;
  position: relative;
  z-index: 3;
  margin: 0;
}

@media(max-width:1024px){
  .cover__subtitle {
    padding-top: 32px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    padding-top: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
