.card-body__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  grid-area: title;
}

@media (max-width: 1024px) {
  .card-body__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 768px) {
  .card-body__title {
    max-width: 330px;
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 600px) {
  .card-body__title {
    margin:0px 16px;
  }
}
