.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: 1184px;
          margin:0 48px;
}

@media (max-width: 768px) {
  .header {
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
