.header__link-ru {
  cursor: default;
}

.header__link-ru:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 1px;
  background-color: #fff;
  top: 64px;
  right: 37px;
}

@media (max-width: 768px) {
  .header__link-ru:after {
    top: 60px;
  }
}
