.card-body__url {
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: #aaa;
  grid-area: link;
  height: 100%;
  justify-content: end;
}

@media (max-width: 600px) {
  .card-body__url {
    margin-left: 16px;
    margin-right: 16px;
  }
}
