.footer__link {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.footer__link:not(:last-child) {
  margin-right: 19px;
}

@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: calc(24px + (16 - 24) * ((100vw - 320px) / (768 - 320)));
  }
}
