.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  align-self: end;
  padding: 0 0 24px 0;
}

@media (max-width: 768px) {
  .footer__copyright {
    padding: 48px 0 24px 0;
    align-self: flex-start;
  }
}
