.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  align-self: end;
}

@media (max-width: 768px) {
  .footer__copyright {
    align-self: flex-start;
  }
}

@media (max-width:600px){
  .footer__copyright {
    padding: 16px 0 0 0;
  }
}
