.places__card {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 48px 0px 0px 0px;
}

@media (max-width:768px) {
  .places__card {
    gap: 32px;
  }
}

@media (max-width:730px){
  .places__card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 28px;
  }
  }
