.card-body__name {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
}

@media (max-width:1024px) {
  .card-body__name {
    grid-template-columns: 440px minmax(352px, 456px);
    column-gap: 28px;
  }
}

@media (max-width:768px) {
  .card-body__name {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
  }
}

@media (max-width:730px){
  .card-body__name {
    column-gap: 14px;
  }
  }
