.cover__wrapper-opacity {
  width: 100%;
  max-height: 740px;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  margin-top:calc(-150px + (-380 + 150) * ((100vw - 320px) / (1180 - 320)));
}

