.cover__wrapper-opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 1s ease;
  display: block;
}

.cover__wrapper-opacity:hover {
  opacity: 0.8;
  transition: opacity 1s ease;
}

