.card-body {
  max-width: 100%;
  display: grid;
  grid-template-columns: 46.75% minmax(440px, 1fr);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
  'title link'
  'image text';
}

.card-body:not(:last-child) {
  margin-bottom: 80px;
}

@media(max-width:1024px){
  .card-body:not(:last-child) {
    margin-bottom: 86px;
  }
}

@media (max-width:768px) {
  .card-body:not(:last-child) {
    margin: 0 0 75px 0;
  }
}

@media (max-width:650px) {
  .card-body:not(:last-child) {
    margin: 0 0 54px 0;
  }
}

@media (max-width:1086px) {
  .card-body {
    grid-template-columns: 46.75% minmax(340px, 1fr);
    column-gap: 37px;
    row-gap: 49px;
  }
}

@media (max-width:768px) {
  .card-body {
    grid-template-columns: 46.75% 1fr;
    column-gap: 29px;
    row-gap: 48px;
  }
}

@media (max-width:650px) {
  .card-body {
    grid-template-columns: 1fr;
    font-size: 42px;
    grid-template-rows: auto;
    row-gap: 48px;
    grid-template-areas:
    'title'
    'link'
    'image'
    'text';
    row-gap: 32px;
  }
}
