.cover {
  position: relative;
  background-image: url('../../image/cover-trains.jpg');
  background-size: cover;
  padding: 245px 0 253px 0;
  margin: 90px 48px 0 48px;
  object-fit: cover;
}

@media(max-width:1024px){
 .cover {
  width: 100%;
}
}
