.cover {
  position: relative;
  max-width: 1184px;
  max-height: 740px;
  background: url('./../../image/cover-trains.jpg');
  background-size: cover;
  margin: 92px 48px 0 48px;
}

@media(max-width:1024px){
  .cover {
margin-left: 0;
margin-right: 0;
max-width: 1024px;
max-height: 640px;
}
}

@media(max-width:768px){
 .cover {

}
}
