.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .3;
  display: block;
  transition: opacity 0.5s ease 0s;
  background-size: cover;
  border: 1px solid #fff;
}

.cover__overlay:hover {
  opacity: .8;
  transition: opacity 0.5s ease 0s;
}
