.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 47px 0 0 0;
  margin: 0;
}

@media (max-width: 768px) {
  .language {
    padding-top: calc(30px + (46 - 30) * ((100vw - 320px) / (1180 - 320)));
  }
}

