.travel__plan {
  padding: 92px 0 0 0;
  margin: 0 148px;
  padding: 64px 0 0 0;
}

@media(max-width:1024px){
  .travel__plan {
    padding: 88px 0 0 0;
    margin: 0 48px;
  }
}
@media(max-width:768px){
  .travel__plan {
    padding: 64px 0 0 0;
    margin: 0;
  }
}
