.cover__title {
  max-width: 560px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 300px 0px 0px 0px;
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 72px;
}

@media (max-width: 1024px) {
  .cover__title {
    padding-top: calc(90px + (200 - 90) * ((100vw - 320px) / (1180 - 320)));
  }
}

@media (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1024 - 320)));
  }
}

