@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800,900);
.page {
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  text-rendering: optimizeLegibility;
}

@media (max-width: 768px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

.page__background {
  background: #2A2C2F;
  /* padding: 0px 16px; */
}

.container-big {
  max-width: 1184px;
  margin: 0 auto;
}

.container-small {
  max-width: 1184px;
}

@media (min-width: 1024px) {
  .container-small {
    max-width: 984px;
    margin: 0 auto;
  }
}

.section-title {
  font-weight: 900;
  font-size: 72px;
}

.link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .media-padding {
    margin: 0px 48px;
  }
}

@media (max-width: 768px) {
  .media-padding {
    margin: 0px 24px;
  }
}

@media (max-width: 768px) {
  .media-padding {
    margin: 0px 16px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 176px;
  padding: 28px 0px 0px 0px;
}

@media (max-width: 768px) {
  .header__logo {
    padding: 16px 0px 0px 0px;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0px 0px 0px;
}

@media (max-width: 768px) {
  .header__links {
    padding: 40px 0px 0px 0px;
  }
}

.header__link-ru {
  cursor: default;
}
.header__link-ru:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 1px;
  background-color: #fff;
  top: 64px;
  right: 37px;
}
@media (max-width: 768px) {
  .header__link-ru:after {
    top: 60px;
  }
}

.header__link-en {
  margin: 0px 0px 0px 18px;
}

.travel__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  padding: 56px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
}



@media (max-width: 768px) {
  .travel__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    padding: 48px 0px 0px 0px;
  }
}

.travel__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0px 0px 0px;
}

@media (max-width: 768px) {
  .travel__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    padding: 16px 0px 0px 0px;
  }
}

.travel__image {
  padding: 64px 0px 0px 0px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .travel__image {
    padding: 56px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .travel__image {
    padding: 40px 0px 0px 0px;
  }
}

.travel__image-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  margin: 0;
  padding: 8px 0px 0px 0px;
}

@media (max-width: 768px) {
  .travel__image-text {
    padding: 0px 0px 0px 16px;
  }
}

.travel__article {
  padding: 92px 0px 0px 0px;
}

@media (max-width: 1024px) {
  .travel__article {
    padding: 88px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .travel__article {
    padding: 64px 0px 0px 0px;
  }
}

.travel__article-title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}



.travel__article-subtitle {
  padding: 40px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 690px;
}

.travel__list {
  padding: 33px 0px 0px 0px;
  list-style-type: none;
}

.travel__list-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.travel__list-item_size_weight {
  font-weight: 800;
}

.grid {
  padding: 92px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: 213px;
  gap: calc(14px + (16 - 14) * ((100vw - 320px) / (1024 - 320)));
}

@media(max-width:1024px){
  .grid {
    padding: 88px 0px 0px 0px;
  }
}

@media (max-width:768px){
  .grid {
    gap: 16px;
    padding: 64px 0px 0px 0px;
  }
}

.grid__image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.places {
  padding: 92px 0px 0px 0px;
}

@media (max-width:1024px){
  .places {
    padding: 88px 0px 0px 0px;
  }
}

@media (max-width:768px){
  .places {
    padding: 64px 0px 0px 0px;
  }
}

.places__card-body:not(:last-child) {
  padding: 0px 0px 80px 0px;
}

@media(max-width:1024px){
  .places__card-body:not(:last-child) {
    padding: 0px 0px 77px 0px;
}
}

@media(max-width:768px){
  .places__card-body:not(:last-child) {
    padding: 0px 0px 50px 0px;
}
}


@media (max-width:768px){
  .places__card-body {
    padding: 64px 0px 0px 0px;
  }
}

.places__name {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

@media (max-width:768px){
.places__name {
  grid-template-columns: 1fr;
}
}

.places__title {
  margin: 0;
}

@media (max-width: 1024px) {
  .places__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (1024 - 320)));
  }
}

@media (max-width: 768px) {
  .places__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1024 - 320)));
  }
}

.places__url {
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: 0.2em;
  line-height: 2;
  margin: 0;
  color: #AAAAAA;
}

.places__link {
  text-decoration: underline;
  letter-spacing: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}

.places__link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.places__card {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 48px 0px 0px 0px;
}

@media (max-width:768px) {
  .places__card {
    gap: 32px;
  }
}

@media (max-width:730px){
  .places__card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 28px;
  }
  }

  .places__image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__paragraph {
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

@media (max-width:768px){
  .places__paragraph {
    max-width: 100%;
    font-size: 16px;
  }
}


@media (max-width: 1024px) {
  .places__paragraph {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1024 - 320)));
  }
}

@media (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
  }
}

.cover {
  position: relative;
  padding: 92px 0px 0px 0px;
  width: 100%;
}

.cover__image {
  width: 100%;
  max-height: 740px;
  opacity: 0.3;
  margin-top: -480px;
  box-sizing: border-box;
}

@media (max-width:1024px) {
  .cover__image {
  margin-top: -350px;
}
}

@media (max-width:768px) {
  .cover__image {
  margin-top: -280px;
}
}

@media (max-width:570px) {
  .cover__image {
  margin-top: -230px;
}
}

@media (max-width:420px) {
  .cover__image {
  margin-top: -200px;
}
}



.cover__wrapper-opacity {
  width: 100%;
  opacity: 0.8;
  background-size: cover;
    -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.cover__wrapper-opacity:hover {
  opacity: 0.3;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.cover__title {
  max-width: 560px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 215px 0px 0px 0px;
}

@media (max-width:1024px) {
  .cover__title {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1024 - 320)));
    padding: 30px 0px 0px 0px;
  }
}

@media (max-width:420px) {
  .cover__title {
    padding: 30px 0px 0px 0px;
  }
}

.cover__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  margin: 0 auto;
  padding: 32px 0px 0px 0px;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (768 - 320)));
    padding: 16px 0px 0px 0px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  min-height: 18px;
  padding: 88px 0px 24px 0px;
}

@media (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            padding: 64px 0px 0px 0px;
  }
}

.footer__link {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.footer__link:not(:last-child) {
  margin: 0px 18px 0px 0px;
}

@media (max-width: 768px) {
  .footer__link:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  align-self: end;
  padding: 0px 0px 24px 0px;
}

@media (max-width: 768px) {
  .footer__copyright {
    padding: 48px 0px 24px 0px;
    align-self: flex-start;
  }
}

