.grid {
  padding: 92px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: 213px;
  gap: calc(14px + (16 - 14) * ((100vw - 320px) / (1024 - 320)));
}

@media(max-width:1024px){
  .grid {
    padding: 88px 0px 0px 0px;
  }
}

@media (max-width:768px){
  .grid {
    gap: 16px;
    padding: 64px 0px 0px 0px;
  }
}
