
.grid {
  padding-top: 90px;
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  overflow: hidden;
}

@media(max-width:1024px){
  .grid {
    padding-top: 92px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (max-width:768px){
  .grid {
    padding-top: calc(62px + (86 - 62) * ((100vw - 320px) / (768 - 320)));
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}

@media (max-width:600px){
  .grid {
    grid-template-columns: 1fr;
    gap: 13px;
  }
}
