
.grid {
  padding: 90px 0 0 0;
  margin: 0 48px;
}

@media(max-width:1024px){
  .grid {
    padding: 91px 0 0 0;
  }
}

@media (max-width:768px){
  .grid {
    padding-top: calc(64px + (92 - 64) * ((100vw - 320px) / (768 - 320)));
    margin: 0 24px;
  }
}
